.error-detail-container {
  width: 80%;
  margin: 0 auto;
  margin-bottom: 20px;
  background-color: white;
  padding: 30px 30px 10px 30px;
  border: 2px solid #d3d3d3;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.error-detail-container > * {
  margin-bottom: 20px;
}

.message-container {
  background-color: #f1f8fe;
  padding: 15px;
  border-radius: 4px;
}

.message-container strong {
  display: block;
  margin-bottom: 8px;
}

.cause-and-fix-container {
  width: 60%;
}

@media (max-width: 768px) {
  .cause-and-fix-container {
    width: 100%;
  }
}

.limited-data-container {
  width: 60%;
}

@media (max-width: 768px) {
  .limited-data-container {
    width: 100%;
  }
}

.limited-data-container div {
  margin-top: 20px;
}

.limited-data-container h4 {
  margin-bottom: 10px;
}
