.outer-search-bar {
  background-color: #d8eafd;
  padding: 50px 0;
}

.inner-search-bar {
  width: 80%;
  margin: 0 auto;
}

.search-field {
  margin-top: 20px;
}

.search-field label {
  font-weight: 600;
}

.search-table {
  padding-top: 40px;
  width: 80%;
  margin: 0 auto;
}

.last-updated-container span {
  display: inline-flex;
  align-items: center;
}

.last-updated-container img {
  margin-right: 8px;
  height: 16px;
  width: 16px;
}
