@import "@bcgov/bc-sans/css/BCSans.css";

:root {
  font-family: "BCSans", Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}

input,
button,
textarea,
select {
  background-color: transparent;
  border: none;
  padding: 0;
}

table {
  border-collapse: collapse;
}

th,
td {
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  line-height: inherit;
}

p {
  margin-bottom: 1em;
}

img {
  max-width: 100%;
  height: auto;
}

*:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
}
